<div class="section hi" id="hi" >
    <div class="container" >
        <div class="row">
            <div class="column">
                <h1 class="hi-text" ><b>Hi,</b> I'm Federico,</h1>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="six columns hi-description">a <b></b> </div>
                <div class="three columns hi-description from"><span> from Italy</span></div>
            </div>
        </div>
    </div>
</div>
