<header class="header" id="header" #nav>
    <nav class="nav container">
        <a href="#" class="nav__logo">Federico</a>
        <div class="nav__menu" #navMenu id="nav-menu">
            <ul class="nav__list grid">
                <li class="nav__item">
                    <a href="#home" class="nav__link active-link" (click)="linkAction()">
                        <i class="uil uil-estate nav__icon"></i> Home
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#about" class="nav__link" (click)="linkAction()">
                        <i class="uil uil-user nav__icon"></i> About
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#skills" class="nav__link" (click)="linkAction()">
                        <i class="uil uil-file-alt nav__icon"></i> Skills
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#portfolio" class="nav__link" (click)="linkAction()">
                        <i class="uil uil-scenery nav__icon"></i> Portfolio
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#services" class="nav__link" (click)="linkAction()">
                        <i class="uil uil-briefcase-alt nav__icon"></i> Services
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#contact" class="nav__link" (click)="linkAction()">
                        <i class="uil uil-message nav__icon"></i> Contactme
                    </a>
                </li>
            </ul>
            <i class="uil uil-times nav__close" (click)="removeShowMenu()" id="nav-close"></i>
        </div>

        <div class="nav__btns">

            <!-- Pulse colors -->
            <i *ngIf="!pulseIntervalId" class="uil uil-heart-rate pulse-color" id="pulse-button" #pulseButton (click)="pulseColor()"></i>
            <i *ngIf="pulseIntervalId" class="uil uil-stop-circle pulse-color" id="pulse-button" #pulseButton (click)="stopPulseColor()"></i>

            <!-- Random change color -->
            <i class="uil uil-dice-five change-color" id="color-button" #colorButton (click)="changeColor()"></i>

            <!-- Theme change button -->
            <i class="uil uil-moon change-theme" id="theme-button" #themeButton (click)="changeTheme()"></i>

            <div class="nav__toggle" (click)="addShowMenu()" id="nav-toggle">
                <i class="uil uil-apps"></i>
            </div>
        </div>
    </nav>
</header>


<a href="#" class="scrollup" id="scroll-up" #scrollUp>
    <i class="uil uil-arrow-up scrollup__icon"></i>
</a>