<footer class="footer">
    <div class="footer__bg">
        <div class="footer__container container grid">
            <div>
                <h1 class="footer__title">Federico</h1>
                <span class="footer__subtitle">Frontend developer</span>
                <div class="footer__description">This space is dedicated to document my learning, share my work and providing value for developers.</div>
            </div>

            <ul class="footer__links">
                <li>
                    <a href="#services" class="footer__link">Services</a>
                </li>
                <li>
                    <a href="#portfolio" class="footer__link">Portfolio</a>
                </li>
                <li>
                    <a href="#contact" class="footer__link">Contactme</a>
                </li>
            </ul>

            <div class="footer__socials">
                <a href="https://www.linkedin.com/in/federicoperuzzi90/" target="_blank" class="footer__social">
                    <i class="uil uil-linkedin"></i>
                </a>
                <a href="https://github.com/fedexu" target="_blank" class="footer__social">
                    <i class="uil uil-github"></i>
                </a>
                <a href="https://twitter.com/fede_xu" target="_blank" class="footer__social">
                    <i class="uil uil-twitter"></i>
                </a>

                <p class="footer__description">Powered by <img class="footer__image" src="assets/logos/raspberry-pi.svg"> & <img class="footer__image" src="assets/logos/Angular.svg"></p>
                <p class="footer__description">Hosted and built by me 😎</p>
            </div>
        </div>

        <p class="footer__copy">&#169; Fedexu. All right reserved</p>
    </div>
</footer>