<div class="footer">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <div class="clippy-circle logo-container"><img class="logo " src="/assets/images/Logo_white.png"></div>
                <br>
                <p class="text-left">This space is dedicated to document my learning, share my work and providing value
                    for developers.
                </p>
            </div>
            <div class="three columns">&nbsp;</div>
            <div class="five columns relative">
                <br><br>
                <p class="no-wrap">Powered by <img class="image" src="assets/images/raspberry-pi.svg"> & <img
                        class="image" src="assets/images/Angular.svg"></p>
                <p class="no-wrap">Designed and built by me 😎</p>
            </div>

        </div>
    </div>
</div>