<div class="container">
    <div class="box">
        <h1>Frequently asked questions?</h1>
        <div class="tab">
            <input type="radio" name="acc" id="acc1">
            <label for="acc1">
            <h2>01</h2>
            <h3>How do I apply?</h3>
        </label>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat ante id nisl lacinia scelerisque. Suspendisse tristique eget nulla id tempus. Curabitur in orci congue, pellentesque augue ut, venenatis tellus. Aliquam nec vehicula
                    dui. Nam auctor ante et libero posuere commodo. Quisque aliquam in augue vel luctus. Donec consectetur non leo non euismod. Ut non odio porta, blandit tellus eget, sodales lectus. Donec vulputate placerat tellus in lobortis.</p>
            </div>
        </div>

        <div class="tab">
            <input type="radio" name="acc" id="acc2">
            <label for="acc2">
            <h2>02</h2>
            <h3>Lost or forgotten your password?</h3>
        </label>
            <div class="content">
                <p>Duis risus purus, egestas pellentesque lobortis at, efficitur in felis. Nulla euismod ante non leo lobortis, eu scelerisque ipsum condimentum.</p>
            </div>
        </div>

        <div class="tab">
            <input type="radio" name="acc" id="acc3">
            <label for="acc3">
            <h2>03</h2>
            <h3>How can I make a change to my application?</h3>
        </label>
            <div class="content">
                <p>Suspendisse viverra non tortor id gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat, orci eu imperdiet dapibus, tortor erat laoreet neque, non mollis erat velit sit amet
                    eros. Aenean feugiat neque at facilisis ultrices. Nullam porta luctus posuere. Maecenas semper convallis mi, id imperdiet felis auctor et. Nullam non placerat mauris, non porttitor quam. Donec et viverra mauris. Vivamus purus urna,
                    hendrerit mattis tortor euismod, commodo aliquet mi. Integer sapien tortor, varius et placerat vitae, lacinia a mauris.</p>
            </div>
        </div>

        <div class="tab">
            <input type="radio" name="acc" id="acc4">
            <label for="acc4">
            <h2>04</h2>
            <h3>How can I update my name?</h3>
        </label>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat ante id nisl lacinia scelerisque. Suspendisse tristique eget nulla id tempus. Curabitur in orci congue, pellentesque augue ut, venenatis tellus. Aliquam nec vehicula
                    dui. Nam auctor ante et libero posuere commodo. </p>
            </div>
        </div>

        <div class="tab">
            <input type="radio" name="acc" id="acc5">
            <label for="acc5">
            <h2>05</h2>
            <h3>How can I make a change to my application?</h3>
        </label>
            <div class="content">
                <p>Suspendisse viverra non tortor id gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat, orci eu imperdiet dapibus, tortor erat laoreet neque, non mollis erat velit sit amet
                    eros. Aenean feugiat neque at facilisis ultrices. Nullam porta luctus posuere. Maecenas semper convallis mi, id imperdiet felis auctor et. Nullam non placerat mauris, non porttitor quam. Donec et viverra mauris. Vivamus purus urna,
                    hendrerit mattis tortor euismod, commodo aliquet mi. Integer sapien tortor, varius et placerat vitae, lacinia a mauris.</p>
            </div>
        </div>

        <div class="tab">
            <input type="radio" name="acc" id="acc6">
            <label for="acc6">
            <h2>06</h2>
            <h3>How can I update my name?</h3>
        </label>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat ante id nisl lacinia scelerisque. Suspendisse tristique eget nulla id tempus. Curabitur in orci congue, pellentesque augue ut, venenatis tellus. Aliquam nec vehicula
                    dui. Nam auctor ante et libero posuere commodo. </p>
            </div>
        </div>
    </div>
</div>