<div id="social-nav" class="social-nav nav-border">
    <span class="close" (click)="closeNav()"></span>
    <a class="social-menu-link facebook top-border" href="https://www.facebook.com/federico.peruzzi1234/" target="_blank" rel="noopener noreferrer">
        <img style="margin-top: 10px;" src="assets/logos/facebook-logo.svg" alt=""></a>
    <a class="social-menu-link twitter" href="https://twitter.com/fede_xu" target="_blank" rel="noopener noreferrer">
        <img src="assets/logos/twitter-logo.svg" alt=""></a>
    <a class="social-menu-link linkedin" href="https://www.linkedin.com/in/federicoperuzzi90/" target="_blank" rel="noopener noreferrer">
        <img style="margin-top: 8px;" src="assets/logos/linkedin-logo.svg" alt=""></a>
    <a class="social-menu-link github bottom-border" href="https://github.com/fedexu" target="_blank" rel="noopener noreferrer">
        <img src="assets/logos/github-logo.svg" alt=""></a>
    <i class="icono-arrow4-right open" (click)="openNav()"></i>
</div>