<div id="social-nav" class="social-nav nav-border">
    <span class="close" (click)="closeNav()"></span>
    <a class="social-menu-link facebook top-border" href="#work">
        <img style="margin-top: 10px;" src="assets/logos/facebook-logo.svg" alt=""></a>
    <a class="social-menu-link twitter" href="#resume">
        <img src="assets/logos/twitter-logo.svg" alt=""></a>
    <a class="social-menu-link linkedin" href="#about-me">
        <img style="margin-top: 8px;" src="assets/logos/linkedin-logo.svg" alt=""></a>
    <a class="social-menu-link github bottom-border" href="#contact">
        <img src="assets/logos/github-logo.svg" alt=""></a>
    <i class="icono-arrow4-right open" (click)="openNav()"></i>
</div>