<section class="about section" id="about">
    <h2 class="section__title">About Me</h2>
    <span class="section__subtitle">My introduction</span>

    <div class="about__container container grid">
        <img src="assets/images/desktopPC.jpg" alt="" class="about__img">

        <div class="about__data">
            <p class="about__description">
                I am a full stack developer by day, code enthusiast at hearth. I believe that creating the right path with the right technologies will lower the barrier of entry into software development so that people can find their place into this "new" digital world.
                With this in mind, I'm always looking for the latest tecnologies that help everyone work better and place the focus on the architecture they are design instead of the code/language problems. I am also Tech obsessed so I like to write code
                on every device I can get my hands on with a focus on the IoT world. Last but not least, I love working with diverse people who want to learn and make things! ...hopefully open source🤩
            </p>

            <div class="about__info">
                <div>
                    <span class="about__info-title">08+</span>
                    <span class="about__info-name">Years <br> experience</span>
                </div>

                <div>
                    <span class="about__info-title">20+</span>
                    <span class="about__info-name">Completed <br> projects</span>
                </div>

                <div>
                    <span class="about__info-title">05+</span>
                    <span class="about__info-name">Companies <br> worked</span>
                </div>
            </div>

            <div class="about__buttons">
                <a download="" href="assets/pdf/federico-peruzzi.pdf" target="_blank" class="button button--flex">
                        Download CV<i class="uil uil-download-alt button__icon"></i>
                    </a>
            </div>
        </div>
    </div>

</section>