<div class="container">

    <div class="box">
        <ul>
            <li style="--i:#a955ff;--j:#ea51ff;">
                <span class="icon"><i class="uil uil-estate"></i></span>
                <span class="title">Home</span>
            </li>
            <li style="--i:#56CCF2;--j:#2F80ED;">
                <span class="icon"><i class="uil uil-comment"></i></span>
                <span class="title">Messages</span>
            </li>
            <li style="--i:#FF9966;--j:#FF5E62;">
                <span class="icon"><i class="uil uil-heart"></i></span>
                <span class="title">Favourite</span>
            </li>
            <li style="--i:#80FF72;--j:#7EE8FA;">
                <span class="icon"><i class="uil uil-video"></i></span>
                <span class="title">Videos</span>
            </li>
            <li style="--i:#ffa9c6;--j:#f434e2;">
                <span class="icon"><i class="uil uil-camera"></i></span>
                <span class="title">Photos</span>
            </li>
        </ul>
    </div>

</div>