<div class="section contact">
    <div class="container">
        <div class="row">
            <div class="two columns">&nbsp;</div>
            <div class="nine columns">
                <h2 class="section-heading section-left"><b>Contact</b></h2>
                <p class="section-description section-left">
                    Are you thinking about to work together?<br>
                    Want to be in touch?
                    <span class="no-wrap">Drop me a message here.
                        <span class="svg-arrow-down animate absolute">
                            <svg width="100" height="50">
                                <path transform="scale(2) " class="path" fill="white" stroke="#ffb114" stroke-width="1"
                                    d="m3.94126,3.34657c0.3125,0 1.22681,-0.15549 2.8125,-0.3125c1.86587,-0.18476 3.7555,-0.15507 5.9375,0c2.20415,0.15664 3.81615,0.84816 4.6875,1.5625c1.02532,0.84056 1.66295,1.50281 2.1875,2.5c0.78345,1.48937 0.59959,2.81628 0.9375,5c0.29068,1.87851 0.3125,3.4375 0.3125,4.6875c0,0.625 -0.3125,1.25 0,1.25c0.3125,0 -0.34481,-0.28323 -0.625,-0.625c-0.71434,-0.87135 -0.99159,-1.20398 -1.25,-1.5625c-0.40858,-0.56687 -0.76838,-0.8417 -0.9375,-1.25c-0.23918,-0.57742 -0.53347,-0.53347 -0.3125,-0.3125c0.22097,0.22097 1.09154,1.32313 1.875,2.8125c0.52455,0.99718 1.53675,1.3709 1.875,2.1875c0.11959,0.28871 0.33875,0.32495 0.625,-0.3125c0.68939,-1.53517 1.5625,-3.125 2.1875,-5l0.3125,-0.625l0,-0.3125"
                                    pathLength="1" />
                            </svg>
                        </span>
                    </span>
                </p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="one-half column to-hide">
                &nbsp;
                <img class="profile-image clippy-circle" src="/assets/images/toBeProfilePhoto.png" alt="">
            </div>
            <div class="one-half column no-margin">
                <form [formGroup]="sendEmail" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <input id="name" type="text" formControlName="name" placeholder="Your name" class="width-fill">
                    </div>
                    <div class="row">
                        <input id="email" type="text" formControlName="email" placeholder="Your e-mail"
                            class="width-fill">
                    </div>
                    <div class="row"> <textarea id="body" formControlName="body" placeholder="Your message"
                            class="width-fill"></textarea>
                    </div>
                    <button type="submit" [disabled]="!sendEmail.valid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>