.menu {
    border: solid black 2px;
    border-radius: 0 0 10px 10px;
    font-size: 20px;
}

.logo {
    max-width: 30px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    vertical-align: middle;
}

.logo-container {
    background-color: black;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    float: left;
    margin-right: 1rem;
}

.row-padding {
    padding-top: 1.5rem;
}

.name {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.padding-menu {
    padding-top: 2rem;
}

.menu-link {
    color: #222;
    cursor: default;
    text-decoration: auto;
}

header {
    background-color: rgba(255, 255, 255, 0.96);
}

.three.columns {
    width: 22%;
}

.side-nav {
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: red;
}

.side-nav a {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.nav-border{
    border-radius: 0px 10px 10px 0px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(255, 255, 255);
    min-height: 250px;
    box-shadow: 2px 2px 1px rgb(0 0 0 / 16%);
}

.svg-menu-circle{
    z-index: -1;
    margin-top: -3.5rem;
    margin-left: -7rem;
}

.svg-menu-underline{
    margin-left: -5.5rem;
    margin-top: 2rem;
}

.menu-link:hover .path-menu-cursor {
    animation: dash 0.4s linear forwards;
    opacity: 1;
    display: unset;
}

.path-menu-cursor{
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    display: none;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@media screen and (max-width: 950px) {
    .padding-menu {
        display: none;
    }
    .side-nav {
        display: none;
    }
    header {
        position: fixed;
        left: 0;
        right: 0;
        background-color: transparent;
        z-index: 10;
    }

    .container {
        margin-left: 20px;
    }
}
