<section class="project section">
    <div class="project__bg">
        <div class="project__container container grid">
            <div class="project__data">
                <h2 class="project__title">You have a new project</h2>
                <p class="project__description">Are you thinking about to work together? Want to be in touch? Drop me a message here.
                </p>
                <a href="#contact" class="button button--flex button--white">
                        Contact Me
                        <i class="uil uil-message project__icon button__icon"></i>
                    </a>
            </div>

            <div class="triangle__container">
                <div class="triangle">
                    <img src="assets/images/office.jpg" alt="">
                </div>
                <div class="triangle">
                    <img src="assets/images/computer.jpg" alt="">
                </div>
                <div class="triangle">
                    <img src="assets/images/bag.jpg" alt="">
                </div>
            </div>

        </div>
    </div>

</section>