@use "../../../mixin.scss" as mixin;
@import "../../../variable.scss";

/* ABOUT */

.about__container {
    @include mixin.tablet {
        column-gap: 5rem;
    }
    @include mixin.tabletSmall {
        grid-template-columns: repeat(2, 1fr);
    }
}

.about__img {
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
    @include mixin.tablet {
        width: 350px;
    }
}

.about__description {
    text-align: center;
    margin-bottom: var(--mb-2-25);
    @include mixin.tablet {
        text-align: initial;
    }
}

.about__info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
    @include mixin.tablet {
        justify-content: space-between;
    }
}

.about__info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.about__info-name {
    font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name {
    display: block;
    text-align: center;
}

.about__buttons {
    display: flex;
    justify-content: center;
    @include mixin.tablet {
        justify-content: initial;
    }
}