<section class="portfolio section" id="portfolio">
    <h2 class="section__title">Portfolio</h2>
    <span class="section__subtitle">Most recent work</span>

    <div class="portfolio__container container swiper-container">
        <div class="swiper-wrapper">
            <!--==================== PORTFOLIO 1====================-->
            <div class="portfolio__content grid swiper-slide">
                <img src="https://user-images.githubusercontent.com/22296699/79771007-7a313180-832e-11ea-9637-a3f3b8305181.png" alt="" class="portfolio__img">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Cloud Architecture</h3>
                    <p class="portfolio__description">A tutorial project. The purpose is to show one of the many possible implementation of the Microservice Architecture Pattern by using Spring Boot, Spring Cloud and Docker.</p>
                    <a href="https://github.com/fedexu/love-article" target="_blank" class="button button--flex button--small portfolio__button">
                        Veiw more
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>

            </div>

            <!--==================== PORTFOLIO 2====================-->
            <div class="portfolio__content grid swiper-slide">
                <img src="https://user-images.githubusercontent.com/22296699/123637802-b7406000-d81e-11eb-8ef9-0c365afef15d.png" alt="" class="portfolio__img">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Binance Bot</h3>
                    <p class="portfolio__description">Bot with the aim of evaluating the Crypto market of a specific commercial market to sell and buy at the best price.</p>
                    <a href="https://github.com/fedexu/BinanceBot" target="_blank" class="button button--flex button--small portfolio__button">
                    Veiw more
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>

            </div>

            <!--==================== PORTFOLIO 3====================-->
            <div class="portfolio__content grid swiper-slide">
                <img src="https://user-images.githubusercontent.com/22296699/123764029-b2ce8280-d8c4-11eb-970e-c41f46183277.png" alt="" class="portfolio__img">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Arduino Playground</h3>
                    <p class="portfolio__description">Repository containing all Arduino POC to learn the platform. Are present various project oriented to IoT devices to make this technology accessible by everyone.</p>
                    <a href="https://github.com/fedexu/ArduinoPlayground" target="_blank" class="button button--flex button--small portfolio__button">
                    Veiw more
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>

            </div>

            <!--==================== PORTFOLIO 4====================-->
            <div class="portfolio__content grid swiper-slide">
                <img src="https://user-images.githubusercontent.com/22296699/123650197-a5fd5080-d82a-11eb-8a46-d40bd0a6d052.png" alt="" class="portfolio__img">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Never End Dungeon</h3>
                    <p class="portfolio__description">Scope of this project is to use random generating algorithms to create a progressive dungeon.</p>
                    <a href="https://github.com/fedexu/NeverEndDungeon" target="_blank" class="button button--flex button--small portfolio__button">
                    Veiw more
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>

            </div>

            <!--==================== PORTFOLIO 5====================-->
            <div class="portfolio__content grid swiper-slide">
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
                    alt="" class="portfolio__img">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Angular Pwa</h3>
                    <p class="portfolio__description">A PWA poc with which you can have the experience of the web to all the devices and seems a native App with the same code base.</p>
                    <a href="https://github.com/fedexu/angular-pwa" target="_blank" class="button button--flex button--small portfolio__button">
                    Veiw more
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                    <a href="https://fedexu.github.io/angular-pwa/#/" target="_blank" class="button button--flex button--small portfolio__button portfolio__button__margin">
                    Live Demo
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>

            </div>

        </div>

        <!-- Add Arrows -->
        <div class="swiper-button-next">
            <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
        </div>
        <div class="swiper-button-prev">
            <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>