<div class="section resume" id="resume">
    <div class="container">
        <h2 class="section-heading"><b>Résumé</b>
            <span class="svg-underline animate">
                <svg width="150" height="50">
                    <path transform="scale(3)" class="path" fill="transparent" stroke="#50e043" stroke-width="1"
                        d="m8.5434,3.92067c1.04712,0 3.92179,0.13085 9.16229,0.26178c8.63604,0.21576 18.32457,0 25.39262,0c4.45025,0 5.23559,0 4.97381,0c-0.26178,0 -2.07026,0.17293 -5.23559,0.52356c-4.69061,0.51959 -9.68584,0.78534 -15.445,0.78534c-5.75915,0 -10.98721,-0.39257 -14.39788,-0.52356c-1.83111,-0.07032 -0.78534,0 1.83246,0c4.18847,0 9.16348,0.4091 14.65966,0.52356c6.2868,0.13092 11.26508,0.28231 14.65966,0.52356c1.84641,0.13122 0.78534,0.26178 -2.09424,0.26178c-4.18847,0 -10.2094,0 -18.06279,0c-8.90051,0 -15.96856,0 -19.89525,0.26178l-1.3089,0.26178"
                        pathLength="1" />
                </svg>
            </span>
        </h2>
        <div class="row">
            <div class="one-half column section-left">
                <h3 class="section-heading"><b>Work Experience</b>
                    <span class="svg-parentesis animate">
                        <svg width="50" height="50">

                            <path transform="scale(1.5) " class="path" fill="transparent" stroke="#3d3fd1"
                                stroke-width="2"
                                d="m5.70058,3.52203c0.27397,0 0.80913,0.13672 3.0137,0.27397c2.73443,0.17024 5.20547,0 7.67122,0c1.36986,0 1.99805,-0.19373 2.19178,0c0.19373,0.19373 -0.05311,0.55628 0.27397,2.46575c0.47172,2.75387 0.69496,6.5776 0.82192,10.13698c0.13707,3.84294 0.27397,7.12328 0.27397,9.04109c0,1.36986 0.25178,2.49507 0,3.56164c-0.14075,0.59623 -0.23009,0.82545 -0.27397,1.09589c-0.13878,0.85519 -0.27397,1.09589 -0.54795,1.09589c-0.27397,0 -1.01698,0.54291 -2.46575,0.82192c-1.61417,0.31086 -3.83561,0 -6.30136,0l-2.73972,0l-1.36986,0l0,-0.27398"
                                pathLength="1" />

                        </svg>
                    </span>
                </h3>
                <br>

                <h5 class="section-heading grow">
                    <a href="https://www.capgemini.com/">
                        <b>Capgemini</b> &nbsp; <img src="/assets/images/link.svg" alt="">
                    </a>
                </h5>
                <p class="section-description">Senior Technical Team Lead</p>
                <p class="section-description"><i>2016 - Current</i></p>
                <br>

                <h5 class="section-heading grow">
                    <a href="https://www.advancia.it/">
                        <b>Advancia Tecnology</b> &nbsp; <img src="/assets/images/link.svg" alt="">
                    </a>
                </h5>
                <p class="section-description">Full-Stack Developer</p>
                <p class="section-description"><i>2014 - 2016</i></p>
                <br>
                <h5 class="section-heading grow">
                    <a href="">
                        <b>Freelance Web Designer</b> &nbsp; <img src="/assets/images/link.svg" alt="">
                    </a>
                </h5>
                <p class="section-description">Web Developer - Web Designer</p>
                <p class="section-description"><i>2012 - Current</i></p>
            </div>
            <div class="one-half column section-right">
                <h3 class="section-heading">
                    <span class="svg-arrow-right animate">
                        <svg width="100" height="50">
                            <path transform="scale(2) " class="path" fill="transparent" stroke="#3da5d1"
                                stroke-width="1"
                                d="m6.75187,6.4684c0,0.37453 -0.3442,1.16367 0,2.62173c0.38483,1.63015 1.35005,3.53163 3.37079,5.24345c2.45834,2.08252 5.59803,3.18305 8.23971,3.37079c2.61513,0.18585 4.11986,0 5.24345,0c0.37453,0 1.66997,-0.25971 1.87266,-0.74906c0.14333,-0.34602 0,-0.74907 -0.74906,-1.1236c-0.74907,-0.37453 -1.80691,-0.03666 -2.2472,-0.74907c-0.1969,-0.3186 0.01607,-0.10853 0.37453,0c1.29245,0.39132 2.0445,0.63425 2.24719,1.1236c0.14333,0.34602 0.46058,0.38455 0.37453,0.74907c-0.19241,0.81507 -1.20288,1.39106 -2.24719,2.24719c-0.81923,0.67161 -1.49813,0.74906 -1.87266,1.1236l-0.37453,0"
                                pathLength="1" />
                        </svg>
                    </span>
                    <b>Education</b>
                </h3>
                <br>

                <h5 class="section-heading grow">
                    <a href="https://www.unipr.it/"><img src="/assets/images/link.svg" alt=""> &nbsp;
                        <b>University of Parma</b>
                    </a>
                </h5>
                <p class="section-description">BA <span>&#8226;</span> Psychology</p>
                <p class="section-description"><i>2010 – 2015</i></p>
            </div>
        </div>
        <br>
        <div class="row">
            <h3 class="section-heading"><b>Skills</b>
                <span class="svg-star animate">
                    <svg width="100" height="50">
                        <path transform="scale(2) " class="path" fill="transparent" stroke="yellow" stroke-width="2"
                            d="m5.14026,13.60652c0,-0.26178 0.84183,-1.79576 2.35602,-4.18847c1.63251,-2.57969 3.2169,-4.67755 3.66491,-5.75915c0.31679,-0.76481 0.56266,-0.92296 0.78534,-0.78534c1.4938,0.92322 2.22426,4.51386 3.66492,7.32983c0.96126,1.87892 2.1402,3.16698 1.83246,3.66492c-0.13763,0.22268 -1.28255,-0.81661 -3.14136,-2.35602c-2.58194,-2.13829 -5.69382,-4.5375 -8.11517,-6.28271c-1.5314,-1.10377 -1.81253,-1.1473 -1.57068,-1.04712c0.34203,0.14167 1.28111,0.95131 3.92669,1.3089c3.64114,0.49216 7.85339,0.26178 10.73297,0.26178c1.57068,0 1.83246,-0.26178 1.57068,0c-0.52356,0.52356 -1.62924,2.42581 -4.45025,3.92669c-3.21894,1.7126 -7.06805,2.35602 -9.94763,3.40313l-1.83246,0.52356l-0.52356,0.26178"
                            pathLength="1" />
                    </svg>
                </span>
            </h3>
            <div class="row">
                <div class="one-half column section-left">
                    <br>
                    <h5 class="section-heading grow"><b>Coding</b></h5>
                    <p class="section-description">Programming languages (such as Java, TypeScript, Python, c++, c#)
                    </p>
                    <p class="section-description">Object-Oriented Design</p>
                    <p class="section-description">Scripting</p>
                    <p class="section-description">Version Control Systems</p>
                    <p class="section-description">Data Structure and Algorithms</p>
                </div>

                <div class="one-half column section-right">
                    <br>
                    <h5 class="section-heading grow"><b>Development fields</b></h5>
                    <p class="section-description">Cloud Computing</p>
                    <p class="section-description">Mobile development</p>
                    <p class="section-description">Embedded Systems</p>
                    <p class="section-description">Networking</p>
                    <p class="section-description">Containerization</p>
                    <p class="section-description">User interface design</p>
                </div>
            </div>
            <div class="row">
                <div class="three columns"> &nbsp; </div>
                <div class="six columns">
                    <br>
                    <h5 class="section-heading grow"><b>Metodologies</b></h5>
                    <div class="row">
                        <div class="one-half column section-left">
                            <p class="section-description">DevOps</p>
                            <p class="section-description">Agile</p>
                            <p class="section-description">Continuous Integration</p>
                        </div>
                        <div class="one-half column section-right">
                            <p class="section-description">Test-Driven Development </p>
                            <p class="section-description">Behavioral-Driven Development</p>
                        </div>
                    </div>
                </div>
                <div class="three columns"> &nbsp; </div>
            </div>
        </div>
    </div>
</div>