@use "../../mixin.scss" as mixin;
@import "../../variable.scss";

/* QUALIFICATION */

.qualification__sections {
    @include mixin.tablet {
        grid-template-columns: .5fr;
    }
    @include mixin.tabletSmall {
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
}

.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
    @include mixin.tablet {
        justify-content: center;
    }
}

.qualification__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
    @include mixin.tablet {
        margin: 0 var(--mb-1);
    }
}

.qualification__button:hover {
    color: var(--first-color);
}

.qualification__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    @include mixin.mobile {
        gap: .5rem;
    }
}

.qualification__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.qualification__calendar {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.qualification__content.qualification__hide {
    display: none;
}

.qualification__active {
    display: block;
}

.qualification__button.qualification__active {
    color: var(--first-color);
}