/* You can add global styles to this file, and also import other style files */
@import "normalize.css";
@import "skeleton.css";
@import "ios_underline.css";

body {
    min-width: 350px;
}

html {
    scroll-behavior: smooth;
}

.section {
    padding: 8rem 0 7rem;
    text-align: center;
}

.no-wrap {
    white-space: nowrap;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.display-none{
    display: none !important;
}

.clippy-circle {
    clip-path: circle(50% at 50% 50%);
}

.absolute {
    position: absolute;
}

.width-fill {
    width: 100%;
}

.relative {
    position: relative;
}

.alert-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;

    padding: 3px 3px 3px 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: left;
    font-size: 10px;
}

.alert-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;

    padding: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 20px;
}

.path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
}

.path-side-menu {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
}

.path-animation-side-menu  {
    animation: dash 0.4s linear forwards;
}

.path-animation {
    animation: dash 1s linear forwards;
}

.path-animation-delay-1 {
    animation-delay: 0.5s;
}

.path-animation-delay-2 {
    animation-delay: 1s;
}


@keyframes dash {
    from {
        stroke-dashoffset: 1;
    }
    to {
        stroke-dashoffset: 0;
    }
}

/* Bigger than 550 */
@media screen and (min-width: 550px) {
    .section {
        padding: 12rem 0 11rem;
    }
}

/* Bigger than 750 */
@media screen and (min-width: 750px) {
    .section {
        padding: 14rem 0 15rem;
    }
}

/* Bigger than 1000 */
@media screen and (min-width: 1000px) {
    .section {
        padding: 17rem 0 16rem;
    }
}
