<section class="contact section" id="contact">
    <h2 class="section__title">Contact Me</h2>
    <span class="section__subtitle">Get in touch</span>

    <div class="contact__container container grid">
        <div>
            <div class="contact__information">
                <i class="uil uil-envelope contact__icon"></i>
                <div>
                    <h3 class="contact__title">Email me</h3>
                    <!-- <span class="contact__suvtitle">Wrote each other and get in touch.</span> -->
                </div>
            </div>

            <!-- <div class="contact__information">
                <i class="uil uil-phone contact__icon"></i>

                <div>
                    <h3 class="contact__title">Call</h3>
                    <span class="contact__suvtitle">After we get in touch we can call.</span>
                </div>
            </div>

            <div class="contact__information">
                <i class="uil uil-map-marker contact__icon"></i>
                <div>
                    <h3 class="contact__title">Meet each other</h3>
                    <span class="contact__suvtitle">If required we can meet!</span>
                </div>

            </div> -->
        </div>
        <ng-container *ngIf="submitOutput == null || submitOutput == false">

            <form [formGroup]="sendEmail" (ngSubmit)="onSubmit()" class="contact__form grid">
                <div class="contact__inputs grid">
                    <div class="contact__content">
                        <label for="" class="contact__label">Name</label>
                        <input id="name" formControlName="name" type="text" class="contact__input contact__info">
                        <div *ngIf="sendEmail.get('name')?.invalid && (sendEmail.get('name')?.dirty || sendEmail.get('name')?.touched)" class="alert alert-danger">
                            <div *ngIf="sendEmail.get('name')?.errors?.required">
                                Name is required.
                            </div>
                        </div>
                    </div>
                    <div class="contact__content">
                        <label for="" class="contact__label">Email</label>
                        <input id="email" formControlName="email" type="email" class="contact__input contact__info">
                        <div *ngIf="sendEmail.get('email')?.invalid && (sendEmail.get('email')?.dirty || sendEmail.get('email')?.touched)" class="alert alert-danger">
                            <div *ngIf="sendEmail.get('email')?.errors?.required">
                                E-mail is required.
                            </div>
                            <div *ngIf="sendEmail.get('email')?.errors?.forbiddenEmail">
                                Write a valid e-mail, multiple e-mail can be wrote with , separator.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contact__content">
                    <label for="" class="contact__label">Project</label>
                    <input id="project" formControlName="project" type="text" class="contact__input contact__info">
                </div>
                <div class="contact__content">
                    <label for="" class="contact__label">Message</label>
                    <textarea id="body" formControlName="body" name="" cols="0" rows="7" class="contact__input contact__info"></textarea>
                    <div *ngIf="sendEmail.get('body')?.invalid && (sendEmail.get('body')?.dirty || sendEmail.get('body')?.touched)" class="alert alert-danger">
                        <div *ngIf="sendEmail.get('body')?.errors?.required">
                            A body e-mail is required.
                        </div>
                        <div *ngIf="sendEmail.get('body')?.errors?.minlength">
                            Wrote at least 'Hello'.
                        </div>
                    </div>
                </div>

                <div>
                    <ng-container *ngIf="submitOutput == false">
                        <div class="row alert-danger">
                            Oops! Something went wrong while submitting the form. Please check and try again.
                        </div>
                    </ng-container>

                    <ng-container *ngIf="sendEmail.valid">
                        <a class="button button--flex" (click)="onSubmit()">
                        Send Message
                        <i class="uil uil-message button__icon"></i>
                    </a>
                    </ng-container>

                    <ng-container *ngIf="!sendEmail.valid">
                        <a class="button button--flex button__icon-disabled">
                        Send Message
                        <i class="uil uil-message button__icon button__icon-disabled"></i>
                    </a>
                    </ng-container>
                </div>
            </form>
        </ng-container>
        <ng-container *ngIf="submitOutput == true">
            <div class="row contact__success">
                <p>
                    Thanks for reaching out!&nbsp;
                    <br>I will be in touch.
                </p>
            </div>
        </ng-container>
    </div>
</section>